#content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#azul{
    color: white;
    background-color: rgb(95, 95, 218);
}

#gris{
    color: black;
    background-color: rgb(207, 206, 206);
}